NEXT_PUBLIC_SUPABASE_URL=https://gjfilgcemjzilxyetwsy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqZmlsZ2NlbWp6aWx4eWV0d3N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NzkwMDAsImV4cCI6MjA5ODE1NTAwMH0.T_QTv6sHJ0j9JyydmIlKHqSVryPMBIiFm-Pmgg_KTDw
